body{
background: linear-gradient(rgba(255, 0, 0, 0),rgba(255, 0, 0, 1)),url(image.jpg);
background-size: cover;
background-position: center;
}

.login-box{
max-width: 700px;
float: none;
margin: 150px auto;
}

.login-left{
background: rgba(211, 211, 211, 0.5);
padding: 30px;
}

.login-right{
background: #FOFFF;
padding: 30px;
}

.form-control{
background-color: Azure !important;
}

